In [2]:
import os
from crate import client
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import random
from agots.multivariate_generators.multivariate_data_generator import MultivariateDataGenerator

In [3]:
connection = client.connect("http://localhost:4200/", username="crate")

In [4]:
cursor= connection.cursor()

In [ ]:
#file=pd.read_csv(r'base.csv', sep=',', header=0, low_memory=False)
#file.drop('time', axis='columns', inplace=True)
#date_range=pd.date_range(start='9/4/1985', periods=len(file), freq='D')
#file['timestamps']=pd.to_datetime(date_range)
#file.index=file['timestamps']
#file=file[['ax', 'ay', 'az', 'aT']]

In [ ]:
#file.to_sql('file', con=engine, if_exists='append', chunksize=1000000)

In [5]:
end_date='9/3/2020'

date_rng = pd.date_range(start='9/4/1985', end=end_date, freq='D')

In [6]:
STREAM_LENGTH = len(date_rng)
N = 1
K = 1

dg = MultivariateDataGenerator(STREAM_LENGTH, N, K)
df = dg.generate_baseline(initial_value_min=-2, initial_value_max=2)

In [7]:
anomaly=[]
for i in range(random.randrange(10)):
    x=9862+random.randrange(2922)
    dg.add_outliers({'extreme': [{'n': 0, 'timestamps': [(x,)],'factor': 10}]})
    anomaly.append(x)
anomaly.sort()
anomaly=np.array(anomaly)
anomaly=pd.to_datetime(anomaly,origin='9/4/1985', unit='D')
anomalies=pd.DataFrame(anomaly, columns=['dates'])
anomalies['anomaly']=True
anomalies.index=anomalies['dates']
anomalies=anomalies[['anomaly']]

In [8]:
df['date']=date_rng
df['timestamps'] = pd.to_datetime(df['date'])
df.drop(['date'], axis=1, inplace=True)
df.index=df['timestamps']
df.columns=['value', 'timestamps']
df=df[['value']]
df=df.join(anomalies)
df=df.fillna(False)
df.head()

               value  anomaly
timestamps
1985-09-04 -1.000000    False
1985-09-05  0.875496    False
1985-09-06  0.739056    False
1985-09-07  0.215668    False
1985-09-08 -1.157384    False

In [9]:
from sqlalchemy import create_engine
engine = create_engine('crate://localhost:4200')

In [12]:
df.to_sql('time', con = engine, if_exists = 'append', chunksize = 10000)

In [13]:
anomalies

            anomaly
dates
2012-12-22     True
2014-11-06     True
2015-03-23     True
2015-06-29     True
2016-02-09     True
2016-04-16     True
2016-05-22     True
2017-03-18     True
2018-07-21     True